/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Knewave|Nosifer|Permanent+Marker|Caesar+Dressing|Smokum|Shojumaru|Butcherman|Frijole|UnifrakturCook:700|Monofett|Monoton|Black+Ops+One|Hanalei|Chewy|Creepster|Faster+One|Rye|Akronim|Luckiest+Guy|Londrina+Shadow|Coming+Soon|Ewert);


a { 
  color:black;
  text-decoration:none;
}

body {
	font-size: 8px;
	color: #333332;
	background-image: url("http://freeseamlesstextures.com/images/40-dirty-paper-background-sml.jpg");
}


.bushwick_h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.bushwick_h3 {
	color: #555554;
	margin: 0;
	padding: 0;
	/*text-align: center;*/
	}

@media (max-width: 767px) {
	.venue_card {
		width: 100%;
		margin-bottom: 25px;
		}

	.bushwick_h2 {
		font-size: 2rem;
		}

	.bushwick_h3 {
		font-size: 1.6rem;
		text-align: right;
		margin-right: 75px;
		}
	}

@media (min-width: 768px) {
	.venue_card {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		}

	.bushwick_h2 {
		font-size: 6rem;

		}

	.bushwick_h3 {
		font-size: 3rem;
		text-align: right;
		margin-right: 50px;
		}

	}


.font_1 {
	font-family: "Knewave";
	}

.font_2 {
	font-family: "Nosifer";
	}

.font_3 {
	font-family: "Permanent Marker";
	}

.font_4 {
	font-family: "Caesar Dresing";
	}

.font_5 {
	font-family: "Coming Soon";
	}

.font_6 {
	font-family: "Londrina Shadow";
	}

.font_7 {
	font-family: "Smokum";
	}

.font_8 {
	font-family: "Shojumaru";
	}

.font_9 {
	font-family: "Butcherman";
	}

.font_10 {
	font-family: "Frijole";
	}

.font_11 {
	font-family: "UnifrakturCook";
	}

.font_12 {
	font-family: "Monofett";
	}

.font_13 {
	font-family: "Black Ops One";
	}

.font_14 {
	font-family: "Hanalei";
	}

.font_15 {
	font-family: "Chewy";
	}

.font_16 {
	font-family: "Creepster";
	}

.font_17 {
	font-family: "Faster One";
	}

.font_18 {
	font-family: "Rye";
	}

.font_19 {
	font-family: "Ewert";
	}

.font_20 {
	font-family: "Akronim";
	}

.font_21 {
	font-family: "Luckiest Guy";
	}

.rotate_1 {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	}

.rotate_2 {
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	}

.rotate_3 {
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	}
.rotate_4 {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	}
.rotate_5 {
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	}
.rotate_6 {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	}
.rotate_7 {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	}
.rotate_8 {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	}
.rotate_9 {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	}
.rotate_10 {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	}
.rotate_11 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	}
.rotate_12 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	}
.rotate_13 {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	}
.rotate_14 {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	}
.rotate_15 {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	}
.rotate_16 {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	}
.rotate_17 {
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	}
.rotate_18 {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	}
.rotate_19 {
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	}
.rotate_20 {
	-webkit-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	-ms-transform: rotate(9deg);
	-o-transform: rotate(9deg);
	}
.rotate_21 {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	}
