<head>
  <title>bushwick</title>
</head>

<body>
  <h1>WHATSGOOD- BUSHWICK</h1>
  <h2 class="tonight">TONIGHT</h2>
  <h2 class="tomorrow">TOMORROW</h2>
  {{> bwmain}}
</body>

<template name="bwmain">
  {{>bw_venues}}
</template>
<template name="bw_venues">
{{#each concerts}}
<div class="venue_card">
  {{>bw_venue_view}}
</div>
{{/each}}
</template>


<template name="bw_venue_view">
<p class='bushwick_h2 {{ font_class }} {{ rotation_class }}'>
<a href="http://{{link}}">
  {{ artists }}
  </a>
</p>
<p class='bushwick_h3 {{ font_class }} {{ rotation_class_2 }}'>
<a href="{{link}}">
  @ {{ venue }}
  </a>
</p>
</template>
<template name="bw_single_venue_view">

{{venue}}
{{location}}
{{dateTime}}

</template>
